@import '/src/styles/index.scss';

.mainStarButton {
  align-items: center;
  margin-top: 1px;
  color: $color--star;
  box-shadow: 1px 4px 6px gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}
