.cardWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.languageFilterMain {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.languageFilterInput {
  flex: 1;
}

.languageFilterDevider {
  height: 28px;
  margin: 4px;
}

.languageFilterIcon {
  padding: 10;
}
